@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
    color: #fff;
}
image{
    max-width:100%;
    height:auto;
}
.container{
    background-color:black;
   
}

.header{
    max-width:100%;
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #fff;
    margin:0 auto;  
    background-color:black;
  
}

.logo img{
    max-width:189px;
    padding-bottom: 28px;
    padding-top:20px;
}
.menu{
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    display: flex;
}

.menu a{
    text-decoration: none;
    color:#fff;
    font-size: 16px;
    line-height: 1.5;
    padding-right: 20px;
}

.menu img{
  display:none;
}
.banner{

    margin-top:40px;  
}
.banner-text{
  margin:0 auto;
}
.banner p{
    color:#fff;
    font-weight: 900;
    font-size:90px;
    line-height:1.2;
}
input[type="button"] {
    font-size: 20px;
    line-height: 1.2;
    padding:20px 40px;
    font-weight: 900;
    background-color:black;
    color: #fff;
    border:1px solid #fff;
    margin-top:40px;
    border-radius: 10px;
}
.banner-animation{
  display:flex;
  justify-content: flex-end;
  overflow: hidden;
  height:180px;
 
     
  margin-bottom: 160px;
  margin-top:200px;
}

.service{
    max-width: 1296px;
    margin:0 auto;
}
.service-text{
    display: flex;
    margin:0 auto;
    margin-bottom: 80px;
}

.service-text>.right{
    
    font-weight: 900;
    line-height: 120%;
    font-size:35px;
    width:75%;
    
    }


.service-text>h2{
    font-size:32px;
    max-width:30%;
    margin-right: 24px;
    
    font-weight: 900;
    line-height: 120%;   
}
.service-list {
    display:flex;
   
 }

 .service-list li{
    
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 24px;
    border: 1px solid white;
    border-radius: 16px;
}

.service-list li h2{
    font-weight: 900;
    font-size: 32px;
    line-height:1.2;
    margin-bottom: 20px;
    margin-top: 26.67px;
}
.service-list p{
  
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 80px;
   
}
.service-list li img{
    width:66.67px;
    margin-top:83.33px;
    
}

/*overflow area*/
.overflow {
    max-width: 100%;
    margin:0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  

  
  .enterprise {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    position: relative;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .mb-md-120 {
      margin-bottom: 120px;
    }
  }
  
  /* 隱藏 x 軸 */
  /* Hide scrollbar for Chrome, Safari and Opera */
  .enterprise::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .enterprise {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .enterprise::after,
  .enterprise::before {
    content:"";
    position: sticky;
    width: 196px;
    height: 40px;
    top: 0;
  }
  .enterprise::before {
    left: 0;
    padding-right: 196px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
  }
  
  .enterprise::after {
    right: 0;
    padding-left: 196px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
    transform: rotate(-180deg);
  }
  .enterprise li:not(:last-child) {
    margin-right: 20px;
  }
  
  .enterprise img {
    width: 160px;
    height: 40px;
    max-width: initial;
  }
  .partner{
    max-width: 100%;
    margin:0 auto;
    margin-top: 160px;
}

.partner>h2{
    font-weight: 900;
font-size: 32px;
line-height: 120%;
color:#fff;

}

.partner ul{
    margin-top:80px;
    max-width:1296px;
}
.recommend ul{
    max-width:1296px;
    display:flex;
    margin:0 auto;
    justify-content: center;
    margin-top: 160px;
  }

  .recommend li{  
    max-width:100%; 
    background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
margin-right: 24px;


  }
  .recommend li >p{
   
    width:336px;
   height:215px;
   display:flex;
   margin: 22px 40px 109px;
   font-weight: 400;
font-size: 16px;
line-height: 150%;
  }
  .recommend-icon{
    margin-bottom:22px;
    margin-left:41px;
    margin-top: 41px;
  }
  .recommend-name{   
    margin-left:40px;
 
    display: flex;
    margin-top: 20px;
   
    margin-bottom: 160px;
  }

  .recommend-name img{
    margin-right: 16px;
  }
  .bg-white{
    background-color: #fff;
    max-width:100%;
    border-radius:160px;
    margin: 0 auto;
  }
.tools-list ul{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
   
}
  
.tools-list li{
   max-width:416px;
   border-radius:16px;
   margin-right:24px;
   margin-top: 24px;
   border:1px solid#F2F2F2;
}

.image{
    overflow:hidden;
}
.image img{
    transition: transform 0.5s linear;
}
.image:hover img{
    transform: scale(1.2);
   
}
/*https://stackoverflow.com/questions/43219852/image-overflowhidden-with-scale-transition*/
.tools>h2{
    text-align:center;
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
    padding-top: 160px;
    padding-bottom: 80px;
    color:black;
}
.tools{
    padding-bottom: 250px;
    
}

.tools-search{
  display:flex;
  margin-top: 24px;
  
}

.tools-search>ul{
    display: flex;
    margin:auto;
    color:black;
    margin-top: 44px;
    margin-bottom: 60px;

}
.tools-search li{
    margin-right:24px;
    
}
.tools-search a{
    text-decoration: none;
    color: #919191;
    font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.tools-search a:hover{
    color: #020202;
    max-width: 32px;
    height: auto;
    background: #F2F2F2;
border-radius: 16px;

padding:8px 16px 8px 16px;

}


.tools-ai{
    display:flex;
    height:64px;
    justify-content: space-between;
    padding:20px 32px;
    border:1px solid#F2F2F2;
}

.tools-ai>span{
font-weight: 900;
font-size: 16px;
line-height: 150%;
color: black;
}
.tools-tag{
    display: flex;
    height:64px;
   
    justify-content: space-between;
    padding:20px 32px;
    border:1px solid#F2F2F2;
}

.tools-tag span{
    color: #000;
}
.introduction{
    padding:20px 32px;
    height:118px;
    
}
.introduction>h2{
    margin-bottom:12px;
    font-weight: 900;
font-size: 20px;
line-height: 120%;
color: black;
}
.introduction>p{
    font-weight: 400;
font-size: 14px;
line-height: 150%;
color:#525252;
}
.dropdown a {
    text-decoration: none;
    display:block;
    color:#000;
    
  }
  
  .fs-normal {
    font-size: 16px;
  }
  
  .mb-8 {
    margin-bottom: 8px;
  }
  
  .ml-12 {
    margin-left: 12px;
  }
  
  .mt-8 {
    margin-top: 8px;
  }
  
  .wrap {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .filter {
    display: flex;
    justify-content: flex-end;
  }
  
  .dropdown {
    position: relative;
    
  }
  
  .dropdown-btn {
    display: flex;
    align-items: center;
    
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 32px;
    padding-bottom: 20px;
    border-radius: 16px;
  }
  
  .dropdown-btn:hover {
    border-color: #000000;
  }
  .dropdown-btnText{
    color:black;
  }
  .dropdown-menu {
    position:absolute;
    right:0;
    display:none;
    margin-top: 4px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    border-radius: 16px;
  }
  
  .dropdown-menu a {
    padding: 4px 40px;
    color: #000;
  }
  
  .dropdown-menu a:hover {
    background-color: #f2f2f2;
  }
  
  .dropdown-menu.show {
    display: block;
  }

  .pagination >ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 60px;
    
  }
  .pagination a{
 
    font-weight: 700;
font-size: 14px;
line-height: 150%;
display: block;
width: 48px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
color: black;
margin: 2px;
border-radius: 10px;
text-decoration: none;
    
  }

  .pagination a:hover{
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .callToAction>h2{
    font-weight: 900;
font-size: 48px;
line-height: 120%;
color:white;
margin-top: 158px;
}
.callToAction{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:180px;
}


  .btn2{
    content: '';
    background: url('/images/icons/call\ made.png') no-repeat;
    background-position: center right 16px;
}

.siteMap{
    display:flex;
    justify-content: space-between;
    padding: 80px 0;
    
    border-top: 1px solid #fff;
    border-bottom:1px solid #fff;
}
 .siteMap-list>ul{
    color:#fff;
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
 }
 .siteMap-logo>img{
    width:188.99px;
    height:40px;
  }
  .footer{
    color:white;
    display:flex;
    margin:0 auto;
   
    padding: 32px 0;
    position:relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
 }
.social>ul{
    display: flex;
}
.social li{
    margin-right:20px;
   
}
.copyright{
    margin-right:100px;
}
 .to-top>a{
    color:white;
    text-decoration: none;
    position:absolute;
    right:0;
    bottom:32px;
    top:32px;
  }

  .to-top img{
    padding-left: 20px;
  }

  .sr-bar {
    padding: 10px;
    border-radius: 10px;
    max-width: 1240px;
    margin: 0 auto;
    background-color: rgb(247, 247, 247);
  }

  .sr-bar.sr-btn{
    border: none;
    margin-left: 15px;
  }
 
  .sr-bar input {
    border: none;
    background-color: rgb(247, 247, 247);
    max-width: 1000px;
  }

  .first{
    animation: slide 3s 0.7s infinite ease;
  }

  .second{
    animation: slide 3s 0.35s infinite ease;
  }

  .third{
    animation: slide 3s 0s infinite ease;
  }

  @keyframes slide {
    0% {
      transform: translateY(100%);
    }
    33% {
      transform: translateY(0);
    }
    66% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

    /*參考北五組謝宗佑 https://codepen.io/jzyifnzf-the-animator/pen/eYPPNjP*/
@media(max-width:768px){
  
  .header{
    max-width:100%;
    background-color:black;
  }
  .menu a{
    display:none;
  }
  .menu img{
    display:block;
  }
  .logo img{
    width:113.4px;
}

.service-text{
  display:block;
}
  .service-text>h2{
    margin-bottom: 24px;
    max-width:100%;
  }

  .service-list {
    display:block;
   
 }
 .service-list li{
  max-width:100%;  
  margin-right:0;
  margin-bottom:12px;
}
.recommend ul{
  overflow:hidden;
}
.tools-search ul{
 
  overflow-x: auto;
}
.tools-list li{
  margin:auto;
  margin-bottom:12px;
  margin-top: 0px;
  border-radius:20px;
}
.pagination >ul{
 justify-content: center;
 
}
.callToAction>h2{ 
  font-size: 32px;
}
.siteMap{
  flex-direction:column-reverse;
 
}
.siteMap-logo>img{
  margin-bottom:40px;
}
.footer{
  flex-wrap:wrap;
}
.to-top>a{
  right:40px;
  bottom:92px;
  top:32px;
}
.footer{
  display: block;
}
.copyright{
  margin-bottom:36px;
}
.footer{
  margin-left:12px;
}

.tools>h2{
font-size:32px;
display:flex;
flex-wrap:wrap;
width:280px;
margin: 0 auto;
}
.sr-bar {
  margin-right:12px;
  margin-left:12px;
  
}
.tools-list li{
  margin-right:12px;
  margin-top: 12px;
  margin-left: 12px;
}
}

  