@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
    color: #fff;
}
image{
    max-width:100%;
    height:auto;
}
.container{
    background-color:black;
    
}

.header{
    
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #fff;
    margin:0 auto;  
    margin-left: 310px;
    margin-right: 310px;
}

.logo img{
    width:189px;
    padding-bottom: 28px;
    padding-top:20px;
}
.menu{
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    display: flex;
}

.menu a{
    text-decoration: none;
    color:#fff;
    font-size: 16px;
    line-height: 1.5;
    padding-right: 20px;
}


.banner-text{
    width:480px;
    font-style: normal;
font-weight: 900;
font-size: 120px;
line-height: 120%;
margin-left: 310px;
margin-top: 40px;
margin-bottom: 80px;

}

.banner-slogan{

font-weight: 900;
font-size: 48px;
line-height: 120%;
display: flex;

justify-content: flex-end;
}
.banner-slogan p{
    margin-right: 310px;
    width:630px;
}


.banner-animation{
    margin-left:310px;
    margin-top: 200px;
    height:180px;
    overflow:hidden;
}
.first{
    animation: slide 3s 0.7s infinite ease;
  }

  .second{
    animation: slide 3s 0.35s infinite ease;
  }

  .third{
    animation: slide 3s 0s infinite ease;
  }

  @keyframes slide {
    0% {
      transform: translateY(100%);
    }
    33% {
      transform: translateY(0);
    }
    66% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  .ai-name>h2{
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
  }

.pricing{
    max-width: 1296px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 310px;
    margin-right:310px;
}
.pricing-title>h2{
    font-weight: 900;
font-size: 32px;
line-height: 120%;
width:414px;
height:38px;
margin-bottom: 80px;
margin-left: 310px;
margin-top: 160px;
}
.pricing-card{
    width:48%;
height:318px;
outline:1px solid #525252;
border-radius: 16px;
margin-right:10px;
margin-bottom:10px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.pricing-name ul{
    margin-top: 12px;
    
}
.pricing-name>h2{
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
    margin-left:32px;
    margin-top: 20px;
}

.pricing li{
    
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #F2F2F2;
margin-left: 50px;

}

.pricing-name li{
    list-style-type: disc;
    color: #F2F2F2;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
}

.btn2{
    padding-right:40px;
    margin-right:26px;
    content: '';
    background: url('/images/icons/call\ made.png') no-repeat;
    background-position: center left 60px;
}

.price{
    outline:1px solid #525252;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
font-size: 20px;
line-height: 120%;
}

.price >h3{
    padding-left: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gray-text{
    color:#919191;
    font-weight: 400;
}
.rules{
    display: flex;
    max-width:1296px;
    margin-right: 310px;
    margin-left: 310px;
    margin-top:160px;
}
.rules>h2{
   width: 30%;
    font-weight: 900;
font-size: 32px;
line-height: 120%;


}
.rule-text{
    width:70%;
}
.rule-text h3{
    font-weight: 900;
font-size: 48px;
line-height: 120%;
margin-bottom: 24px;
}
.middle{
    margin-top:40px;
}
.rule-text p{
    
    font-weight: 400;
font-size: 20px;
line-height: 120%;
padding-bottom:40px;
border-bottom:1px solid #525252;
}

.sr-bar {
    padding: 10px;
    border-radius: 10px;
    max-width: 1240px;
    margin: 0 auto;
    background-color: rgb(247, 247, 247);
  }

  .sr-bar.sr-btn{
    border: none;
    margin-left: 15px;
  }
 
  .sr-bar input {
    border: none;
    background-color: rgb(247, 247, 247);
    max-width: 1000px;
  }
  .bg-white{
    background-color: #fff;
    max-width:1920px;
    border-radius:160px;
    margin-top: 160px;
    
  }
.tools-list ul{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
   
}
  
.tools-list li{
   width:416px;
   border-radius:16px;
   
   margin-right:24px;
   margin-top: 24px;
   border:1px solid#F2F2F2;
}

.image{
    overflow:hidden;
}
.image img{
    transition: transform 0.5s linear;
}
.image:hover img{
    transform: scale(1.2);
   
}
/*https://stackoverflow.com/questions/43219852/image-overflowhidden-with-scale-transition*/
.tools>h2{
    text-align:center;
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
    padding-top: 160px;
    padding-bottom: 80px;
    color:black;
}
.tools{
    padding-bottom: 250px;
    
}

.tools-search{
  display:flex;
  margin-top: 24px;
  
}

.tools-search>ul{
    display: flex;
    margin:auto;
    color:black;
    margin-top: 44px;
    margin-bottom: 60px;

}
.tools-search li{
    margin-right:24px;
    
}
.tools-search a{
    text-decoration: none;
    color: #919191;
    font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.tools-search a:hover{
    color: #020202;
    width: 32px;
    height: 24px;
    background: #F2F2F2;
border-radius: 16px;

padding:8px 16px 8px 16px;

}


.tools-ai{
    display:flex;
    height:64px;
    justify-content: space-between;
    padding:20px 32px;
    border:1px solid#F2F2F2;
}

.tools-ai>span{
font-weight: 900;
font-size: 16px;
line-height: 150%;
color: black;
}
.tools-tag{
    display: flex;
    height:64px;
   
    justify-content: space-between;
    padding:20px 32px;
    border:1px solid#F2F2F2;
}

.tools-tag span{
    color: #000;
}
.introduction{
    padding:20px 32px;
    height:118px;
    
}
.introduction>h2{
    margin-bottom:12px;
    font-weight: 900;
font-size: 20px;
line-height: 120%;
color: black;
}
.introduction>p{
    font-weight: 400;
font-size: 14px;
line-height: 150%;
color:#525252;
}
.dropdown a {
    text-decoration: none;
    display:block;
    color:#000;
    
  }
  
  .fs-normal {
    font-size: 16px;
  }
  
  .mb-8 {
    margin-bottom: 8px;
  }
  
  .ml-12 {
    margin-left: 12px;
  }
  
  .mt-8 {
    margin-top: 8px;
  }
  
  .wrap {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .filter {
    display: flex;
    justify-content: flex-end;
  }
  
  .dropdown {
    position: relative;
    
  }
  
  .dropdown-btn {
    display: flex;
    align-items: center;
    
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 32px;
    padding-bottom: 20px;
    border-radius: 16px;
  }
  
  .dropdown-btn:hover {
    border-color: #000000;
  }
  .dropdown-btnText{
    color:black;
  }
  .dropdown-menu {
    position:absolute;
    right:0;
    display:none;
    margin-top: 4px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    border-radius: 16px;
  }
  
  .dropdown-menu a {
    padding: 4px 40px;
    color: #000;
  }
  
  .dropdown-menu a:hover {
    background-color: #f2f2f2;
  }
  
  .dropdown-menu.show {
    display: block;
  }

  .pagination >ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 60px;
    
  }
  .pagination a{
 
    font-weight: 700;
font-size: 14px;
line-height: 150%;
display: block;
width: 48px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
color: black;
margin: 2px;
border-radius: 10px;
text-decoration: none;
    
  }

  .pagination a:hover{
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .callToAction>h2{
    font-weight: 900;
font-size: 48px;
line-height: 120%;
color:white;
margin-top: 158px;
}
.callToAction{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:180px;
}

.siteMap{
    display:flex;
    justify-content: space-between;
    padding: 80px 0;
    margin-left:300px;
    margin-right:300px; 
    border-top: 1px solid #fff;
    border-bottom:1px solid #fff;
}
 .siteMap-list>ul{
    color:#fff;
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
 }
 .siteMap-logo>img{
    width:188.99px;
    height:40px;
  }
  .footer{
    color:white;
    display:flex;
    margin-left:310px;
    margin-right:310px; 
   
    padding: 32px 0;
    position:relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
 }
.social>ul{
    display: flex;
}
.social li{
    margin-right:20px;
   
}
.copyright{
    margin-right:100px;
}
 .to-top>a{
    color:white;
    text-decoration: none;
    position:absolute;
    right:0;
    bottom:32px;
    top:32px;
  }

  .to-top img{
    padding-left: 20px;
  }
